<script>
  setTimeout(function() {
    window.location.href = "";
  }, 2000);
</script>

<h1>Blocked</h1>
<%= blocked_keys %>
<h1>Unblocked</h1>
<%= unblocked_keys %>
<h1>Deleted</h1>
<%= deleted_keys %>
